
$lightBlue: var(--bs-cyan);
$mainBlue: #4f7efe;
$mainWhite: var(--bs-light);
$mainDark: var(--bs-dark);
$mainYellow: var(--bs-yellow);
$dark1: #040406;
$dark2: #020305;
$dark3: #2a2b2c;
$dark4: #323234;
$dark5: #33393e;
$dark6: #444446;
$dark7: #6c757d;;
$dark8: #adb5bd;
$dark9: #ced4da;
$dark-gradient: linear-gradient(135deg, var(--bg1), var(--bg2));
$dark-gradient-inv: linear-gradient(135deg, var(--bg2), var(--bg1));
$dark-gradient2: linear-gradient(90deg, #2c2f35, #1f2125);
$dark-gradient3: linear-gradient(to bottom, #33393e, #1c1d24);
$dark-gradient4: linear-gradient(90deg, #2C2F35, #1F2125);

