@use "colors" as *;

$in-shaddow: inset 4px 4px 8px $dark1, inset -2px -2px 8px $dark8;
$out-shaddow: 4px 4px 8px 2px $dark1, -2px -2px 6px $dark6;

@mixin btn-3d($color: white, $hover-color: $mainBlue, $bg: $dark5 ) {
  background: $bg;
  color: $color;
  @include outer-shaddow;
  

  &:hover {
    color: $hover-color !important;
  }
  &:active {
    @include inner-outer-shaddow;
  }
}

@mixin container-shaddow {
  box-shadow: 0px 0px 12px 10px $dark1;
}

@mixin inner-shaddow {
  box-shadow: $in-shaddow;
}

@mixin inner-outer-shaddow {
  box-shadow:  $out-shaddow, $in-shaddow;
}

@mixin outer-shaddow {
  box-shadow: $out-shaddow;
}

@mixin outer-shaddow-container {
  box-shadow: 4px 4px 8px 2px $dark1, -4px -4px 8px 2px $dark6;
}
@mixin outer-shaddow2 {
  box-shadow: inset 3px 3px 8px $dark3, inset -3px -3px 8px $dark2;
}

@mixin text-neon($neon: $mainBlue, $text: white) {
  color: $text;
  
  text-shadow:
    // 0 0 4px $text,
    // 0 0 7px $text,
    // 0 0 10px $text,
    // 0 0 12px $neon,
    // 0 0 15px $neon,
    // 0 0 18px $neon,
    // 0 0 22px $neon,
    0 0 15px $neon;
}


@mixin light-elevation {
  box-shadow: 0px 4px 5px 3px $dark1;
}
@mixin medium-elevation {
  box-shadow: 0px 11px 15px 7px $dark1;
}
