  .textBlue {
    color: var(--mainBlue);
  }

  .textBright {
    color: var(--lightBlue);
  }

  .noBackground {
    background: none;
  }
//   .text-blue {
//     color: var(--mainBlue);
//   }

//   .text-bright {
//     color: var(--lightBlue);
//   }

//   .no-background {
//     background: none;
//   }