@use 'colors' as *;
@use 'mixins' as *;
@use 'typography' as *;

.btnBlack {
  text-align: center;
  // background: $dark-gradient3;
border: none;
  /* linear-gradient(90deg, #1F2227, #272B30); */
  color: #aeafb3;

  font-size: 0.8rem !important;
  height: 2rem;
  width: 2rem;
  border-radius: 50% !important;
  @include btn-3d;
}

.qte {
  font-size: 2rem;
  color: #aeafb3;
}

.cartIcon {
  cursor: pointer;
  font-size: 1.2rem;
  color: $mainYellow;
}

.shaddowedBtn{
  @include outer-shaddow;
}