/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/********************************/
/* :root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
} */

:root {
  --mainBlue: #4f7efe;
  --mainBlue: var(--bs-blue); 
  --mainWhite: var(--bs-light);
  --mainDark: var(--bs-dark);
  --mainYellow: var(--bs-yellow);
  --bg1: #040406;
  --bg2: #323234;
  --box-shaddow: #040406;
  --Shaddow1: #040406;
  --Shaddow2: #444446;
  --dark3: #2a2b2c;
  --dark2: #020305;
  --dark-gradient: linear-gradient(135deg, var(--bg1), var(--bg2));
  --dark-gradient-inv: linear-gradient(135deg, var(--bg2), var(--bg1));
}


body {
  font-family: 'Oswald', sans-serif !important;
  /* background: var(--mainWhite) !important; */
  background: var(--dark-gradient-inv);

  color: #AEAFB3;
}

* {
  box-sizing: border-box;
}