@use 'colors' as *;
@use 'mixins' as *;
@use 'typography' as *;



.textTitle {
    font-family: 'Roboto', cursive;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

 .textBlue {
    color: $mainBlue;
  }